# Reminder:
#
# - A leading slash means the pattern is anchored at the root.
#
# - No leading slash means the pattern matches at any depth.

*.swp

# Python files
*.pyc
__pycache__/
/cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# log files
crash.log
dpss_log.txt
dpss_memory_log.txt
